<launch>
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find rs_description)/urdf/laikago_xacros/robot.xacro' DEBUG:=false" />
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" output="screen"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>
</launch>
